body {
  background: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 40px;
}

.main-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

aside {
  background-color: #1e2939;
  width: 370px;
}

aside img {
  width: 370px;
  height: 355px;
  margin-top: 40px;
  margin-bottom: 10px;
}

aside .name-surname {
  display: inline-block;
  width: 100%;

  margin-bottom: 40px;

  font-size: 35px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

.contacts-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
}

.aside-h3 {
  color: #cccccc;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}

.contact {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 24px;
}

.contact-span {
  color: #bfbfbf;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.contact-link {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #79818f;
  margin-left: 10px;
  line-height: 24px;
}

.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 0px;
  line-height: 24px;
}

.tech-skills-ul {
  margin: 0;
  padding-left: 15px;
}

.tech-skills-li {
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-skills-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 0px;
}

.soft-skills-ul {
  padding-left: 15px;
  margin: 0;
}

.soft-skills-li {
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.soft-skills-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.languages-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
  margin-bottom: 0px;
}

.languages-skills-ul {
  padding-left: 15px;
  margin: 0;
}

.languages-skills-li {
  color: #ff6b08;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.languages-skills-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.bottom-margin {
  margin-bottom: 40px;
}

.about-me-container {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 35px;
  padding-top: 35px;
  width: 830px;
}

.about-me-container h1 {
  color: #000000;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ff6b08;
  line-height: 70px;
  margin-bottom: 0;
  margin-top: 0;
}

.about-me-container h2 {
  margin-top: 35px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 20px;
}

.about-me-container p {
  font-size: 16px;
  margin-bottom: 3px;
}

.time-and-place {
  color: #00BB00;
  font-size: 80%;
}

.separator
{
  color: black;
}